<?php
    $config = array(
      /* MySQL Configuration - End User NEEDS to configure this */
      'mysql' => array(
        'host'     => '127.0.0.1',
        'user'     => 'uploadx',
        'pass'     => 'password',
        'database' => 'uploadx',
      ),
      //Set to the full path to the upload base directory with a trailing /
      'location' => '/full/path/to/your/images/upload-base-directory/',
    );
